input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .btn-style
  {
    background-color: blue;
    width: 100%;
  }
  
  div {
    border-radius: 5px;
    background-color: #d3d0d0;
    padding: 20px;
    
  }
  .link-styel
  {
    border: ridge;
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 35px;
  }